{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block titulo_painel %}
Preencha as informações abaixo
{% endblock titulo_painel %}
{% block conteudo_painel %}
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                {{ form.nome_completo|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form.cpf|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.data_nascimento|as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ form.sexo|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
               {{ form.telefone|as_crispy_field }}
            </div>
            <div class="col-md-6">
               {{ form.estado_civil|as_crispy_field }}
            </div>
        </div>
            <h5>Endereço</h5>
        <hr>
        <div class="row">
            <div class="col-md-6">
                {{ form.logradouro|as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.numero_endereco|as_crispy_field }}
            </div>
            <div class="col-md-3">
                {{ form.complemento_endereco|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.estado|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.cidade|as_crispy_field }}
            </div>
        </div>
        <h5>Login</h5>
        <hr>
        <div class="row">
            <div class="col-md-6">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.senha|as_crispy_field }}
            </div>
        </div>

    <button type="submit" class="btn btn-primary">
        Salvar
    </button>
</form>
{% endblock conteudo_painel %}